header, nav{
    text-align: center;
}

body{
    background-color: darksalmon;
}

nav a{
    color: black;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.8em;
    text-decoration: none;
}

nav a:hover{
    border-bottom:2px;
    font-size: 2em;
    transition: .9s;
}

header{
    text-shadow: -2px 2px 3px white;
    font-size: 2em;
}

figure1 img{
    float: left;
    width:500px;
    height: auto;
    padding-top: 20px;
}

figure2 img{
    float: right;
    width:400px;
    height: auto;
    padding-top: 20px;
}

div{
    float: none;
    text-align: center;
}